<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h1>THIS IS ADMIN PAGE</h1>
<br/>
<br/>
<a th:href="@{/hello}"> HELLO PAGE</a>

<div th:each="user : ${userList}">
    <a th:href="@{/user/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>
</div>
<br/>

<form th:method="GET" th:action="@{/registration}">
    <input type="submit" value="НОВЫЙ ПОЛЬЗОВАТЕЛЬ"/>
</form>
<ul>
    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="LOGOUT"/>
    </form>
</ul>
</body>
</html>