<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>HOME PAGE</title>
</head>
<body>
<h1>User, welcome home page!</h1>

<h1>USER</h1>
<ul>
    <p th:utext="${user.getId()}">VALUE</p>
    <p th:utext="${user.getName()}">VALUE</p>
    <p th:utext="${user.getAddress()}">VALUE</p>
</ul>
<br/>
<ul>
    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="LOGOUT"/>
    </form>
</ul>
</body>
</html>